body {
  background-color: rgb(216, 240, 216);
}
h1, h2 {
  text-align: center;
  font-size: 2rem;
}
h3 {
  font-size: 2rem;
  text-align: center;
}
.table {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  margin: 15px;
}
.table th {
  background-color: rgb(226, 219, 219);
}
.tables {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
}